/*header*/
div#topbar {
    border-bottom: solid 2px #c4cdcf;
    margin-bottom: 1em;
    background-color:#F6F6F6;
  }
div#topbar a {
    display: block;
    color: #126E82;
    text-align: center;
    padding: 14px 0px;
    text-decoration: none;
    position:relative;
    width:50%;
    left:100px;
  }
div#topbar a:hover {
    background-color: #c4cdcf;
    color: #126E82;
    position:relative;
    width:50%;
    left:100px;
  }

/*footer*/
div#footerbar a {
    color: #b4c0c3;
    text-align:center;
    padding: 14px 0px;
}

h1 {
    font-variant: small-caps;
    border-bottom: solid 1px #5CB3CC;
    padding: 10px 0px;
    color: #0b445a;
    position:relative;
    left:35px;
    width: 95%;
}

h2,h3,h4,h5{
    color: #158BB8;
    text-align:center;
}

/*paragragh*/
p
{
    color:rgb(0, 0, 0);
    font-family:arial;
    width: 95%;
    position:relative;
    left:35px;
}

/*link*/
a:link {color:#0678eb;}      
a:visited {color:#772585;}  

/*1st list*/
ul {
    list-style: disc;
    background-color:#ebf7fc;
    width: 95%;
    position:relative;
    left:35px;
}
/*2nd list*/
ul ul {
    list-style: circle;
    position:relative;
    width: 95%;
    left:0px;
}

img {
    max-width : 100%
}

table 
{
    max-width:85%;
    position:relative;
    left:110px;
}
th
{
	border:1px solid #ffffff;
    height:50px;
    padding: 0px 20px; 
    text-align:left;
    border-bottom: solid 1px #c8d4d7;
}
td
{
	border:1px solid #f6f4f4;
    text-align:left;
    border-bottom: solid 1px #c8d4d7;
}

/*Home page*/
/*introduction span*/
span#introduction
{
	display:block;
    background-color:#ebf7fc;
    position:relative;
    width: 95%;
    left:35px;
    padding: 4px;
    margin-bottom:2em;
}

/*home content span*/
span#content
{
	display:block;
    background-color:#ffffff;
    border:2px solid #ebf7fc;
    border-radius:5px;
    position:relative;
    width:60%;
    left:320px;
    margin-bottom:0.3em;
}
span#home
{
	display:block;
    background-color:#ffffff;
    border:2px solid #ebf7fc;
    border-radius:5px;
    position:relative;
    width:60%;
    left:320px;
    margin-bottom:0.3em;
}
span#home img
{
    max-width : 150%;
    position:relative;
    left:-150px;
}
/*home search size*/
div.search {
    position:relative;
    left:120px;
}
div.fig {
    max-width: 83%;
    position:relative;
    left:118px;
}
div.fig p{
    color: #5CB3CC;
    padding: 14px 0px;
}
div.fig img{
    max-height: 550px;
}


/*Help page*/
/*help span style*/
span#help
{
	display:block;
    position:relative;
    width: 95%;
    left:35px;
    padding: 4px;
    margin-bottom:2em;
}
span#help h2,h3{
    color: #158BB8;
    text-align:left;
    padding: 5px;
    border-bottom: solid 1px #5CB3CC;
    position:relative;
    left:35px;
    width: 95%;
}
span#help h5{
    color: #158BB8;
    text-align:left;
    position:relative;
    left:35px;
    width: 95%;
}
/*1st list*/
span#help ul {
    list-style: disc;
    background-color:#ffffff;
    width: 95%;
    position:relative;
    left:35px;
}
/*2nd list*/
span#help ul ul {
    list-style: circle;
    position:relative;
    width: 95%;
    left:0px;
}
span#help img {
    max-width : 35%;
    position:relative;
    width: 95%;
    left:400px;
}

/*Cluster and Sequence page*/
/*cluster and sequence page table style*/
td p#title{
    color:#2d2c2c;
    font-weight:bold;
    font-family:arial;
    width: 100%;
    position:relative;
    left:5px
}
td p#detail{
    color:#2d2c2c;
    font-family:arial;
    max-width: 340px;
    position:relative;
    left:5px;
    word-wrap: break-word;
    word-break: normal;
}
div#member table
{   
    position:relative;
    left:0px
}
h4#cluster{
    color: #158BB8;
    text-align:left;
    position:relative;
    margin-top: 2em;
    left:110px;
}
div#cluster button{
    left:120px;
    position:relative;
}

/* browser page */
label#browse{
    color:#158BB8
}
div.browse {
    position:relative;
    left:35px;
}

/* elm-select */
.elm-select-input-wrapper {
    display: flex;
    position: relative;
    overflow: hidden;
    background-color:#c4cdcf;
    padding: 1px 1px;
  }
  
  .elm-select-input {
    flex: 1;
    outline: none;
    border: none;
  }
  
  .elm-select-clear {
    cursor: pointer;
    height: 1rem;
    line-height: 1rem;
    margin-top: -0.5rem;
    position: absolute;
    right: 0.25rem;
    top: 50%;
  }
  
  .elm-select-multi-input-item-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .elm-select-multi-input-item {
    display: flex;
    border-width: 1px;
    background-color: #E3E5E8;
    border-radius: 4px;
    margin-right: 4px;
    padding: 2px 8px;
  }
  
  .elm-select-multi-input-item-text {
    text-overflow: ellipsis;
  }
  
  .elm-select-multi-input-item-remove {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .elm-select-multi-item-remove {
    cursor: pointer;
    padding-top: 1px;
    line-height: 0px;
  }
  
  /* Menu */
  
  .elm-select-menu-anchor {
    position: relative;
  }
  
  .elm-select-menu {
    position: absolute;
    z-index: 1;
    background-color: white;
    min-width: 8rem;
    border: 1px solid #e9e9e9;
    max-height:  20rem;
    overflow-y: scroll;
  }
  
  .elm-select-menu-item {
    padding: 8px 4px;
  }
  
  .elm-select-menu-item-selectable {
    cursor: pointer;
  }
  
  .elm-select-menu-item-selectable:hover {
    background-color: #e9e9e9;
  }
  
  /* Underline */
  
  .elm-select-input-underline-wrapper {
    position:  relative;
  }
  
  .elm-select-input-underline:before,
  .elm-select-input-underline:after {
    content: '';
    height: 2px;
    width: 0;
    position: absolute;
    background: #158BB8;
    -webkit-transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -o-transition: 0.2s ease all;
    transition: 0.2s ease all;
  }
  
  .elm-select-input-underline:before {
    left: 50%;
  }
  
  .elm-select-input-underline:after {
    right: 50%;
  }
  
  .elm-select:focus-within .elm-select-input-underline:before,
  .elm-select:focus-within .elm-select-input-underline:after {
    width: 50%;
  }
@import 'https://badge.dimensions.ai/badge.css';