h1 {
    font-variant: small-caps;
    border-bottom: solid 1px #5CB3CC;
    color: #0b445a;
    position:relative;
    left:35px;
    width: 95%;
}

h2,h3,h4,h5{
    color: #158BB8;
    text-align:center;
}



/*paragragh*/
p
{
    color:rgb(0, 0, 0);
    font-family:arial;
    width: 95%;
    position:relative;
    left:35px;
}

/*link*/
a:link {color:#0678eb;}      
a:visited {color:#772585;}  



/*1st list*/
ul {
    list-style: disc;
    background-color:#ebf7fc;
    width: 95%;
    position:relative;
    left:35px;
}
/*2nd list*/
ul ul {
    list-style: circle;
    position:relative;
    width: 95%;
    left:0px;
}

img {
    max-width : 100%
}


/*introduction span*/
span#introduction
{
	display:block;
    background-color:#ebf7fc;
    position:relative;
    width: 95%;
    left:35px;
    padding: 4px;
    margin-bottom:2em;
}



/*content span*/
span#content
{
	display:block;
    background-color:#ffffff;
    border:2px solid #ebf7fc;
    border-radius:5px;
    position:relative;
    width:60%;
    left:320px;
    margin-bottom:0.3em;
}
span#home
{
	display:block;
    background-color:#ffffff;
    border:2px solid #ebf7fc;
    border-radius:5px;
    position:relative;
    width:60%;
    left:320px;
    margin-bottom:0.3em;
}
span#home img
{
    max-width : 150%;
    position:relative;
    left:-150px;
}


/*help span style*/
span#help
{
	display:block;
    position:relative;
    width: 95%;
    left:35px;
    padding: 4px;
    margin-bottom:2em;
}
span#help h2,h3{
    color: #158BB8;
    text-align:left;
    padding: 5px;
    border-bottom: solid 1px #5CB3CC;
    position:relative;
    left:35px;
    width: 95%;
}
span#help h5{
    color: #158BB8;
    text-align:left;
    position:relative;
    left:35px;
    width: 95%;
}
/*1st list*/
span#help ul {
    list-style: disc;
    background-color:#ffffff;
    width: 95%;
    position:relative;
    left:35px;
}
/*2nd list*/
span#help ul ul {
    list-style: circle;
    position:relative;
    width: 95%;
    left:0px;
}
span#help img {
    max-width : 35%;
    position:relative;
    width: 95%;
    left:400px;
}

/*header*/
div#topbar {
    border-bottom: solid 2px #c4cdcf;
    margin-bottom: 1em;
    background-color:#F6F6F6;
  }
div#topbar a {
    display: block;
    color: #126E82;
    text-align: center;
    padding: 14px 0px;
    text-decoration: none;
    position:relative;
    width:50%;
    left:100px;
  }
div#topbar a:hover {
    background-color: #c4cdcf;
    color: #126E82;
    position:relative;
    width:50%;
    left:100px;
  }



/*footer*/
div#footerbar a {
    color: #b4c0c3;
    text-align:center;
    padding: 14px 0px;
}


@import 'https://badge.dimensions.ai/badge.css';
